body {
    font-size: 1.5rem;
    color:  white;
    background-color: #0a1c3a;
    margin: 0;
}

/* For top bar buttons */

#topBar {
    /* CSS for the top bar container */
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 8px;
    text-align: left;
    background-color: #343434;
    z-index: 99;
}

.topBarButton {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.topBarButton:hover {
    color: chocolate;
    cursor: pointer;
}

#topBarSearch {
    float: right;
}

#topBarSearchInput {
    border: 1px solid white;
    border-radius: 8px 8px 8px 8px;
    padding: 8px;
    width: 50px;
    transition: .5s;
}

#topBarSearchButton {
    background: none;
    font-size: 1.5rem;
    border: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}



/* for containers */

#container {
    /* CSS for the main container */
    margin-top: 70px;
    margin-bottom: 100px;
    width: 100%;
    display: block;
    text-align: center;
    /* background-color: white; */
}

#footer {
    /* CSS for the footer */
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid white;
    font-size: 1rem;
    background-color: #343434;
    z-index: 99;
}

.thefooter {
    float: left;
    text-align: left;
    padding: 10px;
}

.page {
    text-align: center;
    margin: 10px;
    display: none;
}

.paragraph {
    /* border-bottom: 1px solid white; */
    margin-top: 50px;
    font-size: 1.1rem;
}

#ScrollButton {
    font-size: 3rem;
    border: none;
    background: none;
    position: fixed;
    bottom: 12%;
    right: 5%;
    color: white;
    display: none;
}

/* General */

.title {
    text-align: left;
    text-decoration: underline;
}


/* Slide Show area */

#slideshowArea {
    margin: auto;
    width: 100%;
    position: relative;
}

#slideChange {
    cursor: pointer;
    position: absolute;
    font-size: 3rem;
    top: 50%;
    transition: .3s;
}

#slideChange:hover {
    color: grey;
}

.next {
    right: 5%;
}

.previous {
    left: 5%;
}

.slideText {
    position: absolute;
    top: 30%;
    width: 80%;
    left: 10%;
    text-align: center;
    font-size: 2rem;
}

.slides {
    width: 100%;
    display: none;
    animation-name: fadeout;
    animation-duration: 1s;
}

@keyframes fadeout {
    from {opacity: .4;}
    to {opacity: 1;}
}

.slideImage {
    position: relative;
    width: 100%;
    border-radius: 15px;
    opacity: 0.3;
    max-height: 900px;
}

/* Home page - Current film area */

#name {
    text-align: left;
    margin: 50px;
    margin-top: 90px;
    font-weight: bolder;
}

.currentFilmContainer {
    display: block;
    display: flex;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    /* border-bottom: 1px solid white; */
    margin-bottom: 30px;
    background-color: #343434;
    opacity: 0.8;
    border-radius: 10px 10px 10px 10px;;
}

.currentFilmImage {
    flex: 25%;
    margin: 20px;
    max-width: 300px;
    border-radius: 10px;
}

.currentFilmDescription {
    flex: 65%;
    margin: 5px;
    font-size: 2rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.fullwidthTitle {
    width: 100%;
    background-color: #0a1c3a;
    border-radius: 10px;
    padding: 5px;
    position: sticky;
    top: 50px;
    z-index: 99;
}

.bookCurrentFilmButtons {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    display: none;
}


/* for the booking form */

#bookingForm {
    width: 100%;
    text-align: center;
}

.formSlide {
    width: 60%;
    display: none;
    text-align: center;
    background-color: #343434;
    border-radius: 10px;
    border: 1px solid white;
    animation-name: fadeout;
    animation-duration: 0.5s;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
}

#formChangeButtonLeft, #formChangeButtonRight, #formResetButton {
    position: absolute;
    bottom: 15%;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
}

#formResetButton {
    right: 1%;
}

#formChangeButtonLeft {
    left: 45%;
}

#formChangeButtonRight {
    right: 45%;
}

#formChangeButtonRight:hover, #formChangeButtonLeft:hover, #formResetButton:hover {
    cursor: pointer;
}

.formList > li {
    margin-bottom: 10px;
}

#formSubmitButton {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid white;
    font-size: 1.3rem;
    background-color: #343434;
    color: white;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    transition: .5s;
}

#formSubmitButton:hover {
    cursor: pointer;
    background-color: white;
    color: #343434;
}

.formInput {
    padding: 5px;
    border-radius: 10px;
    width: 250px;
}

.formSelect {
    padding: 5px;
    border-radius: 10px;
}

.formLabel {
    text-decoration: underline;
}


/* offers and gifts section */

.buttonFrame > button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    background-color: #343434;
    color: white;
    border: none;
    transition: .5s;
}

.buttonFrame > button:hover {
    cursor: pointer;
    background-color: white;
    color: #343434;
}

.offerPage {
    background-color: #343434;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 50px;
    text-align: left;
    border-bottom: 1px solid white;
}

.offerPage > h3 {
    text-align: center;
}

.offerPage > a {
    float: right;
    font-size: 1.5rem;
    margin: 5px;
    transition: .5s;
}

.offerPageDescriptions {
    border-top: 1px solid white;
    display: none;
    transition: .5s;
    padding: 20px;
}


/* upcoming film section */

.upcomingFilmFrame {
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 100px;
}

.upcomingFilmFrame > h3 {
    text-align: left;
}

.UFFInnerFrame {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.UFFElement {
    flex: 30%;
}


