body {
    font-size: 1.5rem;
    color:  white;
    background-color: #0a1c3a;
    margin: 0;
}

/* For top bar buttons */

#topBar {
    /* CSS for the top bar container */
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 8px;
    text-align: left;
    background-color: #343434;
    z-index: 99;
}

.topBarButton {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.topBarButton:hover {
    color: chocolate;
    cursor: pointer;
}

#topBarSearch {
    float: right;
}

#topBarSearchInput {
    border: 1px solid white;
    border-radius: 8px 8px 8px 8px;
    padding: 8px;
    width: 250px;
}

#topBarSearchButton {
    background: none;
    font-size: 1.5rem;
    border: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}



/* for containers */

#container {
    /* CSS for the main container */
    margin-top: 70px;
    margin-bottom: 100px;
    width: 100%;
    display: block;
    text-align: center;
    /* background-color: white; */
}

#footer {
    /* CSS for the footer */
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid white;
    font-size: 1rem;
    background-color: #343434;
}

.thefooter {
    float: left;
    text-align: left;
    padding: 10px;
}

.page {
    text-align: center;
    margin: 10px;
    display: none;
}

.paragraph {
    /* border-bottom: 1px solid white; */
    font-size: 1.1rem;
}

/* General */

.title {
    text-align: left;
    text-decoration: underline;
}


/* Slide Show area */

#slideshowArea {
    margin: auto;
    width: 100%;
    position: relative;
}

.slideChange {
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.next {
    right: 25%;
}

.previous {
    left: 25%;
}

.slideText {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.slides {
    width: 100%;
    display: none;
    animation-name: fadeout;
    animation-duration: 1s;
}

@keyframes fadeout {
    from {opacity: .6;}
    to {opacity: 1;}
}

.slideImage {
    position: relative;
    /* opacity: 0.5; */
}


/* Home page - Current film area */

.currentFilmContainer {
    display: block;
    display: flex;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    /* border-bottom: 1px solid white; */
    margin-bottom: 30px;
    background-color: #343434;
    opacity: 0.8;
    border-radius: 10px 10px 10px 10px;;
}

.currentFilmImage {
    flex: 25%;
    margin: 5px;
    max-width: 300px;
}

.currentFilmDescription {
    flex: 65%;
    margin: 5px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
