body {
    font-size: 1.5rem;
    color:  white;
    background-color: #0a1c3a;
}

/* For top bar buttons */

#topBar {
    /* CSS for the top bar container */
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-top: 5px;
    text-align: left;
}

.topBarButton {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.topBarButton:hover {
    color: chocolate;
    cursor: pointer;
}

#topBarSearch {
    float: right;
}

#topBarSearchInput {
    border: 1px solid white;
    border-radius: 8px 8px 8px 8px;
    padding: 8px;
    width: 250px;
}



/* for containers */

#container {
    /* CSS for the main container */
    width: 100%;
    display: block;
    text-align: center;
}

#footer {
    /* CSS for the footer */
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    border-top: 1px solid white;
    font-size: 1rem;
}

.thefooter {
    text-align: left;
}

.page {
    text-align: center;
    margin: 10px;
    display: none;
}

.paragraph {
    border-bottom: 1px solid white;
    font-size: 1.1rem;
}

/* General */

.title {
    text-align: left;
    text-decoration: underline;
}


/* Slide Show area */

.slideChange {
    cursor: pointer;
}